@font-face {
    font-family: "stencil-std, sans-serif;";
    src: url("//use.edgefonts.net/stencil-std.ttf");
}

div {
    float: left;
}
table {
    float: left;
    border-spacing:0;
}
td {
    padding:0;
}
input {
    height: .15in;
    line-height: .15in;
}
input[type=range] {
    width:.5in;
}
th {
    text-align:center;
}
h1, h2, h3 {
    text-align: center;
    margin: 0px;
}


@page {
    size: 7in 9.25in;
    margin: 1.06in 0.63in 1.06in 0.63in;
}
body {
    background-color: lightgray;
}
#sheet {
    width: 7in;
    margin: auto;
    background-color: white;
    box-shadow: 0.02in 0.02in darkgrey;
    margin-right:8in;
}
@media print {
    @page {
        size: 7in 9.25in;
        margin: 0in 0in 0in 0in;
    }
    body {
        background-color: white;
    }
    #sheet {
        box-shadow: 0in 0in white;
        margin-right:0in;
    }
}
#caravanHeader {
    float: left;
    width: 4.6in;
}
#expBlock {
    float: right;
    height: 0.37in;
}


#metaBlock {
    width: 4.6in;
}
.metaItemBlock {
    height:0.25in;
}
.metaInput {
    width: 0.7in;
}
#nameValue {
    width: 1.7in;
}
#raceValue {
    width: 1.7in;
}
#hpBlock {
    width: 2.3in;
}
.hpItemBlock {
    float: none;
    display: inline;
}
.hpCurInput {
    width: 0.6in;
}
.hpMaxInput {
    width: 0.6in;
}


.atunementItemBlock {
    width:1.37in;
}
.atunementTitle {
    width:1.36in;
    text-align:center;
}
.atunementValue {
    margin-left:.44in;
}


.attributeCategoryBlock {
    width: 2.29in;
}
.attributeItemBlock {
    float:right;
    margin-right:.4in;
}


.skillCategoryBlock {
    width:3.49in;
}
.skillCategoryHeader {
    text-align:center;
}
.skillItemBlock {
    width:3.39in;
}
.skillTitle {
    float:left;
    width:1.2in;
}
.skillFocus {
    float: left;
    width:1.42in;
}
.skillValue {
    float:right;
}


.specializationBlock {
    width:2.29in;
}
.specializationItemBlock {
    width:2.28in;
}
.specializationTitle {
    width:1.57in;
}


#traitsBlock {
    width:2.29in;
}
#traitsHeader {
    text-align:center;
}
.traitItemBlock {
    height: 0.25in;
}
.traitItem {
    width: 2.15in;
}


#backgroundsBlock {
    width:2.29in;
}
#backgroundHeader {
    text-align:center;
}
.backgroundItemBlock {
    width:2.28in;
    height:0.25in;
}
.backgroundTitle {
    width:1.57in;
}


#resourcesBlock {
    width: 2.29in;
}
.resourceItemBlock {
    height: 0.25in;
}
.resourceTitle {
    width: 1.57in;
    float: left;
}
.resourcedValue {
    width: .5in;
    float: left;
}
@media print {
    #backgroundsBlock {
        page-break-after: always;
    }
}


#capacityBlock {
    float:right
}


#weaponTable {
    width: 3.45in;
    table-layout: fixed;
    clear: left
}
.weaponName {
    width: 0.55in;
}
.weaponAP {
    width: 0.25in;
}
.weaponSkill {
    width: 0.30in;
}
.weaponDamage {
    width: 0.55in;
}
.weaponRange {
    width: 0.5in;
}
.weaponWeight {
    width: 0.25in;
}
.weaponSpecial {
    width: .5in;
}


#armorTable {
    width:3.45in;
    table-layout : fixed;
}
.armorName {
    width: 0.9in;
}
.armorWeight {
    width: 0.3in;
}
.armorEffect {
    width: 2.1in;
}


#itemsBlock {
    width: 3.45in;
    table-layout: fixed;
    float: right
}
.gearName {
    width: 0.6in;
}
.gearWeight {
    width: 0.3in;
}
.gearEffect {
    width: 2.3in;
}


#abilitiesBlock {
    width:6.96in;
}
.abilityName {
    width:0.6in;
}
.abilityAP {
    width: 0.3in;
}
.abilitySkill {
    width: 0.9in;
}
.abilityDifficulty {
    width: 0.3in;
}
.abilityRange {
    width: 0.4in;
}
.abilityAugments {
    width: 0.3in;
}
.abilityEffects {
    width: 3.5in;
}


#augmentsBlock {
    width: 6.96in;
}
.augmentRow {
    width: 3.43in;
}
.augmentName {
    width: 0.6in;
}
.augmentSLT {
    width: 0.3in;
}
.augmentTags {
    width: 0.6in;
}
.augmentEffects {
    width: 1.4in;
}
.augmentsHeader > div {
    padding-right: 0.105in;
    font-weight: bold;
}


#featureBlock {
    width: 6.90in;
}
.featureText {
    width:2.19in;
}


#notesBlock {
    width:6.95in;
}
#notesValue {
    width:6.95in;
    min-height:1in;
}



#floatingHistoryBox {
    position: absolute;
    left: 7.2in;
    height: 1.80in;
    width: 7in;
    overflow-y: scroll;
    background-color: lightsteelblue;
    box-shadow: 0.02in 0.02in darkgrey;
}
@media print {
    #floatingHistoryBox {
        display: none;
    }
}



#floatingDescriptionBox {
    position: absolute;
    left: 7.2in;
    top: 2in;
    width: 7in;
    background-color: lightsteelblue;
    box-shadow: 0.02in 0.02in darkgrey;
}
#focusDescription {
    float:none;
}
#focusTitle {
    text-align: left;
}
#searchBox {
    width: 2in;
}
#searchHeader {
    display: inline-block
}
#searchSelect {
    display: block
}
@media print {
    #floatingDescriptionBox {
        display: none;
    }
}