@font-face {
  font-family: "myFont";
  src: url("//use.edgefonts.net/stencil-std.ttf");
}

div {
    float: left;
}
table {
    float: left;
}
input[type=range] {
    width:.5in;
    height:.1in;
}
th {
    text-align:center;
}
h1, h2, h3 {
    text-align: center;
    margin: 0px;
}


@page {
   size: 7in 9.25in;
   margin: 27mm 16mm 27mm 16mm;
}
body {
    background-color: lightgray;
}
#sheet {
    width: 7in;
    margin: auto;
    background-color: white;
}
@media print {
    body {
        background-color: white;
    }
    #sheet {
        border-right: thick solid darkgrey;
    }
}
#caravanHeader {
    float: left;
}
#expBlock {
    float: right;
}


.atunementItemBlock {
    width:1.37in;
}
.atunementTitle {
    width:1.36in;
    text-align:center;
}
.atunementValue {
    margin-left:.44in;
}


.attributeCategoryBlock {
    width: 2.29in;
}
.attributeCategoryHeader {
    text-align:center;
}
.attributeItemBlock {
    float:right;
    margin-right:.5in;
}


.skillCategoryBlock {
    width:2.29in;
}
.skillCategoryHeader {
    text-align:center;
}
.skillItemBlock {
    width:2.28in;
}
.skillTitle {
    float:left;
}
.skillValue {
    float:right;
}


.specializationBlock {
    width:2.29in;
}
.specializationItemBlock {
    width:2.28in;
}
.specializationTitle {
    width:1.65in;
}


#traitsBlock {
    width:2.29in;
}
#traitsHeader {
    text-align:center;
}
.traitItem {
    width:2.28in;
}


#willpowerBlock {
    width:2.29in;
}
#willpowerHeader {
    text-align:center;
}
#willpowerValue {
    width:2.28in;
}


#backgroundsBlock {
    width:2.29in;
    position:absolute;
    left: 2.40in;
    top:7.8in;

}
#backgroundHeader {
    text-align:center;
}
.backgroundItemBlock {
    width:2.28in;
}
.backgroundTitle {
    width:1.65in;
}


#healthBlock {
    width:2.29in;
    margin-bottom:.8in;
}
.healthTitle {
    width:1.20in;
    float:left;
}
.healthValue {
    width:.5in;
    float:left;
}
.healthPenalty {
    width:.5in;
    float:left;
}
@media print {
    #healthBlock {page-break-after: always;}
}


#weaponTable {
    width:7in;
}
#weaponTable input {
    width:1.07in;
}


#armorTable {
    width:7in;
    table-layout : fixed;
}
#armorTable input {
    width:1.65in;
}


#shieldTable {
    width:7in;
    table-layout : fixed;
}
#shieldTable input {
    width:1.35in;
}


#goldBlock {
    position:absolute;
    left: 3.5in;
    top:12.29in;
}
#goldHeader {
    float:left;
}
#goldValue {
    float:left;
}


#itemsBlock {
    width:7in;
}
#itemsHeader {
    margin-left: 1in;
    text-align: left;
}
.itemItem {
    width: 3.40in;
    float:left;
}


#notesBlock {
    width:7in;
}
#notesValue {
    width:6.99in;
    min-height:1in;
}
